@import './base.css';
/*start header*/
.header{
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding:20px 0;
    background-color: #fff;
    z-index: 1;
}
.header .logo{
    display:flex;
    align-items: center;
    gap:10px;
    flex-wrap: wrap;
}
.header .logo img{
    width:35px;
}
.header .logo a{
    color: var(--mainColor);
}
.header .nav a{
    color:#101928;
}
.nav ul{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.header .auth a{
    font-family: var(--subFont);
    padding:10px 30px;
    border-radius: 4px;
}
.header .auth a:first-of-type{
    border: 1px solid #545BE8;
    color:var(--mainColor);
}
.header .auth a:last-of-type{
    background-color: var(--mainColor);
    color:#fff;
}
.bars-menu{
    display: none;
}
@media(max-width:900px){
    .nav{
        display:none;
    }
    .bars-menu{
        display: inline-block;
    }
    .auth{
        display:none;
    }
   /* .container{
        width:calc(100% - 30px);
    }*/
}
@media(max-width:400px){
    .container{
        width:calc(100% - 40px);
    }
}
/*end header*/
/*start introduction*/

.introduction{
    padding: 50px 0;
}
.introduction-content{
    width:calc((100% - 30px) / 2);
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:20px;
}
.introduction-content:first-of-type p{
    color:var(--mainColor);
    font-size:20px;
}
.introduction-content span{
    font-weight: 700;
}
.introduction-content h1{
    font-size:30px;
    font-weight: 800;
}
.introduction-content h1 span{
    color: var(--mainColor);
    font-weight: 900;
}
.introduction-content .main-paragraph{
    color:#969696 !important;
    font-size: 16px !important;
}
 .control-buttons{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}
.control-buttons button{
    padding:5px 50px;
    border-radius: 4px;
    background-color: var(--mainColor);
    border: none;
}
.play-button{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    
}
 .control-buttons a{
    align-items: center;
}
.play-button img{
    border:1px solid #fff;
    border-radius: 50%;
    background-color: #f0c932;
}
.introduction .base-image{
    width:calc((100% - 30px) / 2);
}
@media (max-width:700px){
    .introduction-content{
        width:100%
    }
    .base-image{
       flex-grow: 1;
       padding:20px 0;
    }
}
/*start given courses*/
.given-courses{
    padding: 50px 0;
    position:relative;
}
.given-courses-information{
    width:calc((100% - 30px) / 2);
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}
.given-courses-information span{
    color:var(--mainColor);
}
.given-courses-information h2{
    font-size:30px;
    color:#131e31;
}
.given-courses-information p{
    font-size: 14px;
    color:#969696;
}
.given-courses-sections{
    width:calc((100% - 30px) / 2);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.given-courses-sections .section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap:15px;
   width:calc((50% - 15px) / 3);
   flex-grow: 1;
   background-color:var(--mainColor) ;
   padding: 20px 10px;
}
.given-courses-sections .section img{
    width:35px;
    border:1px solid #fff;
    border-radius: 50%;
    background-color: #fff;
}
 .section .section-details h3{
    font-size: 16px;
    color:#fff;
    padding: 15px 0;
}
.section .section-details p{
    font-size: 12px;
    color:#fff;
    font-weight: 400;
}
.controler{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px 200px;
    position: absolute;
    bottom: 0;
    right:0;
}
.controler img{
    width:25px;
}
@media (max-width:940px){
    .given-courses-information{
       width:100%;
    }
    .given-courses-sections{
        width:100%;
    }
}
/*end given courses*/
/*start courses*/
.courses{
    padding: 50px 0;
}
.courses .row{
    gap:20px;
    align-items: flex-start;
}
.course-items{
    display:flex;
    flex-wrap: wrap;
    width:calc((100% - 20px) / 2);
    gap:20px;
    
}
.course{
   width:calc((100% - 20px) / 2);
  
  
}
.course-card{
    position: relative;
}
.course .row{
    justify-content: space-around;
}
.course .row:first-of-type span{
    color:var(--mainColor);
    font-size: 10px;
    font-weight: 400;
}
.course .row:nth-child(2) span{
    font-size: 14px;
    color: #969696;
    font-weight: 400;
}
.course .row:first-of-type{
    justify-content: space-between;
}
.course .row:last-of-type{
    justify-content: flex-start;
}
.course .course-card img{
    width:100%;
    /*height: 120px;*/
   filter: brightness(70%);
   border-radius:7%;
   box-shadow: 0px 7.437575340270996px 7.437575340270996px rgba(0, 0, 0, 0.05);
}
.course-details{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap:10px;
    flex-wrap: wrap;
}
.course-info{
    position:absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding:20px 0;
}
.course-info span:first-of-type{
    background-color: var(--mainColor);
    color:#fff;
    font-weight: 500;
    padding: 20px;
}
.course-info span:last-of-type{
    font-weight: 700;
    font-size: 20px;
    font-family: var(--subFont);
    color:#fff;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
}
.course-details h3{
    font-weight: 900;
    font-size: 20px;
    font-family: var(--subFont);
    color:#101928;
}
.course-description{
    width:calc((100% - 20px) / 2);
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:50px;
    padding:0 200px;
}
.course-description span{
    font-size: 14px;
    font-weight: 400;
    color: var(--mainColor);
}
.course-description h2{
    font-weight: 900;
    font-size: 20px;
    font-family: var(--mainFont);
}
.course-description p{
    font-size: 14px;
    font-weight: 400;
    color:#969696;
    line-height: 24px;
    font-family: var(--subFont);
}
.course-description a{
    width:40%;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: var(--mainColor);
    text-align: center;
    padding: 7px 20px;
    color:#fff;
    font-family: var(--subFont);
}
@media (max-width:950px){
    .course-items{
        flex-grow: 1;
    }
    .course-description{
        flex-grow: 1;
        align-items: flex-start;
        
    }
}
@media (max-width:500px){
    .course-info span:first-of-type{
        padding: 0;
    }

}
/*end courses*/
/*start testimonials*/
.testimonials{
    text-align: center;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:40px;
    
}
.testimonials .row{
    gap:40px;
}
.testimonial{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:20px;
    width: calc( (100% - 40px) / 2 );
    align-items: flex-start;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding:20px;
    position: relative;
}
.testimonial::after{
    content: '';
    border-top:30px solid #F4F4F4;
    border-bottom:30px solid transparent;
    border-right:30px solid #F4F4F4;
    border-left:30px solid transparent;
    position: absolute;
    top:0;
    right:0;
}
.testimonial .user-info{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    align-items: center;
}
.testimonial .user-info img{
    width:60px;
    height: 60px;
    border-radius: 50%;
}
.testimonial .user-info .user-data{
    display: flex;
    flex-direction: column;
    gap:10px;
    flex-wrap: wrap;
    align-items: flex-start;
}
.testimonial .user-info .user-data span{
    font-size: 10px;
    color: #969696;
}
.testimonial .rating{
    display: flex;
    flex-wrap: wrap;
    gap:10px; 
    padding:0 10px;
}
.testimonial blockquote{
    color:#646464;
}
@media(max-width:900px){
    .testimonial{
        width:100%;
    }
}
/*end testimonial*/
/*start footer*/
.footer{
    background-color: #393E46;
    color:#fff;
    padding:50px 0;
}
.footer .row{
    gap:40px;
}
.footer a{
    color:#fff;
}
.footer-start{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:40px;
    flex-basis: 400px;
    flex-grow: 1;
}
.footer .footer-start .logo{
    display:flex;
    align-items: center;
    gap:10px;
    flex-wrap: wrap;
}
.footer .footer-start .logo img{
    width:35px;
}
.footer .footer-start .logo a{
    font-size: 14px;
}
.footer .footer-start p{
    color:#F4F4F4;
    font-size: 14px;
    font-weight: 200;
}
.footer .footer-start .icons{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
}
.footer .footer-start .icons img{
    border: 1px solid #fff;
    padding:10px;
    width: 15px;
    height: 15px;
    box-sizing: content-box;
    gap:10px;
}
.footer-end{
    flex-grow: 1;
}
.footer-end .row{
    align-items: flex-start;
}
.footer-end .footer-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:30px;
    flex-grow: 1;
}
.footer-end .footer-item ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:10px;
}
@media (max-width: 320px){
    .footer-end {
        text-align: center;
        align-items: center;
    }
}
/*end footer*/


