@import './base.css';
/*start header*/
.header{
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding:20px 0;
}
.header .logo{
    display:flex;
    align-items: center;
    gap:10px;
    flex-wrap: wrap;
}
.header .logo img{
    width:35px;
}
.header .logo a{
    color: var(--mainColor);
}
.header .nav a{
    color:#101928;
}
.nav ul{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.header .auth a{
    font-family: var(--subFont);
    padding:10px 30px;
    border-radius: 4px;
}
.header .auth a:first-of-type{
    border: 1px solid #545BE8;
    color:var(--mainColor);
}
.header .auth a:last-of-type{
    background-color: var(--mainColor);
    color:#fff;
}
@media(max-width:900px){
    .nav{
        display:none;
    }
}
/*end header*/

/*start footer*/
.footer{
    background-color: #393E46;
    color:#fff;
    padding:50px 0;
}
.footer .row{
    gap:40px;
}
.footer a{
    color:#fff;
}
.footer .footer-start, 
.footer .footer-end{
    width:calc((100% - 40px) / 2 );
}

.footer-start{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:40px;
}
.footer .footer-start .logo{
    display:flex;
    align-items: center;
    gap:10px;
    flex-wrap: wrap;
}
.footer .footer-start .logo img{
    width:35px;
}

.footer .footer-start .logo a{
    font-size: 14px;
}

.footer .footer-start p{
    color:#F4F4F4;
    font-size: 14px;
    font-weight: 200;
}
.footer .footer-start .icons{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
}
.footer .footer-start .icons img{
    border: 1px solid #fff;
    padding:10px;
    width: 15px;
    height: 15px;
    box-sizing: content-box;
    gap:10px;
}

.footer-end .row{
    align-items: flex-start;
}

.footer-end .footer-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:30px;
}
.footer-end .footer-item ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:10px;
}